{
  debug
}

nanohost.localhost {
  reverse_proxy http://localhost:8080
}

*.nanohost.localhost {
  @customHost {
    host *.nanohost.localhost
  }
  handle @customHost {
    rewrite * /s/{http.request.host}{http.request.uri}
    reverse_proxy http://localhost:8080
  }
}
